<div>
  <h1>Welcome!, <%= @user.email %></h1>

  <p><%= link_to 'My Products', products_path %></p>
  <p><%= button_to "Sign out", destroy_user_session_path, :method => 'delete', data:{turbo: "false"} %></p>
</div>
